## Monte Carlo Portfolio Optimization

In [3]:
import pandas as pd 
import numpy as np 
import yfinance as yf 
import matplotlib.pyplot as plt 
%matplotlib inline 
import seaborn as sns 
plt.style.use('seaborn-v0_8-dark-palette') 
import pandas_datareader.data as web 
import warnings 
warnings.filterwarnings('ignore')

In [4]:
start_date = '2017-01-12'
end_date = '2017-12-31'
stock = ['BAC','GS','JPM','MS']

In [5]:
data = pd.DataFrame() 

for tick in stock:
    data[f'{tick}_AdjClose'] = yf.download(tick,start=start_date,end=end_date)['Adj Close']

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [7]:
data = data.iloc[::-1] 
data.round(2).head()

            BAC_AdjClose  GS_AdjClose  JPM_AdjClose  MS_AdjClose
Date
2017-01-12         19.36       208.17         69.99        32.87
2017-01-13         19.44       208.57         70.36        33.00
2017-01-17         18.63       201.26         67.80        31.75
2017-01-18         19.12       200.02         68.12        32.29
2017-01-19         19.03       197.56         67.60        31.98

Compute stock returns and save them in percentage format

In [8]:
stock_ret = data.pct_change() 
(stock_ret.round(4)*100).head()

            BAC_AdjClose  GS_AdjClose  JPM_AdjClose  MS_AdjClose
Date
2017-01-12           NaN          NaN           NaN          NaN
2017-01-13          0.39         0.19          0.53         0.41
2017-01-17         -4.17        -3.50         -3.63        -3.79
2017-01-18          2.63        -0.62          0.47         1.68
2017-01-19         -0.44        -1.23         -0.76        -0.96